h1 {
  margin: 0;
}

body {
  margin: 0;
  background: black;
  @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
  font-family: 'Roboto', sans-serif;
}

canvas {
  display: block;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  color: white;
  font-size: 80px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: #121212;
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 15px;
}
